<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated oaam -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.oaam.model.oaam.presentation.OaamModelWizardID"
            name="%_UI_OaamModelWizard_label"
            class="de.oaam.model.oaam.presentation.OaamModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OaamModelFile.gif">
         <description>%_UI_OaamModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.presentation.OaamEditorID"
            name="%_UI_OaamEditor_label"
            icon="icons/full/obj16/OaamModelFile.gif"
            extensions="oaam"
            class="de.oaam.model.oaam.presentation.OaamEditor"
            contributorClass="de.oaam.model.oaam.presentation.OaamActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.common.presentation.CommonEditorID"
            name="%_UI_CommonEditor_label"
            icon="icons/full/obj16/CommonModelFile.gif"
            extensions="common"
            class="de.oaam.model.oaam.common.presentation.CommonEditor"
            contributorClass="de.oaam.model.oaam.common.presentation.CommonActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.library.presentation.LibraryEditorID"
            name="%_UI_LibraryEditor_label"
            icon="icons/full/obj16/LibraryModelFile.gif"
            extensions="library"
            class="de.oaam.model.oaam.library.presentation.LibraryEditor"
            contributorClass="de.oaam.model.oaam.library.presentation.LibraryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.scenario.presentation.ScenarioEditorID"
            name="%_UI_ScenarioEditor_label"
            icon="icons/full/obj16/ScenarioModelFile.gif"
            extensions="scenario"
            class="de.oaam.model.oaam.scenario.presentation.ScenarioEditor"
            contributorClass="de.oaam.model.oaam.scenario.presentation.ScenarioActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.systems.presentation.SystemsEditorID"
            name="%_UI_SystemsEditor_label"
            icon="icons/full/obj16/SystemsModelFile.gif"
            extensions="systems"
            class="de.oaam.model.oaam.systems.presentation.SystemsEditor"
            contributorClass="de.oaam.model.oaam.systems.presentation.SystemsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.functions.presentation.FunctionsEditorID"
            name="%_UI_FunctionsEditor_label"
            icon="icons/full/obj16/FunctionsModelFile.gif"
            extensions="functions"
            class="de.oaam.model.oaam.functions.presentation.FunctionsEditor"
            contributorClass="de.oaam.model.oaam.functions.presentation.FunctionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.hardware.presentation.HardwareEditorID"
            name="%_UI_HardwareEditor_label"
            icon="icons/full/obj16/HardwareModelFile.gif"
            extensions="hardware"
            class="de.oaam.model.oaam.hardware.presentation.HardwareEditor"
            contributorClass="de.oaam.model.oaam.hardware.presentation.HardwareActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.anatomy.presentation.AnatomyEditorID"
            name="%_UI_AnatomyEditor_label"
            icon="icons/full/obj16/AnatomyModelFile.gif"
            extensions="anatomy"
            class="de.oaam.model.oaam.anatomy.presentation.AnatomyEditor"
            contributorClass="de.oaam.model.oaam.anatomy.presentation.AnatomyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.capabilities.presentation.CapabilitiesEditorID"
            name="%_UI_CapabilitiesEditor_label"
            icon="icons/full/obj16/CapabilitiesModelFile.gif"
            extensions="capabilities"
            class="de.oaam.model.oaam.capabilities.presentation.CapabilitiesEditor"
            contributorClass="de.oaam.model.oaam.capabilities.presentation.CapabilitiesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.restrictions.presentation.RestrictionsEditorID"
            name="%_UI_RestrictionsEditor_label"
            icon="icons/full/obj16/RestrictionsModelFile.gif"
            extensions="restrictions"
            class="de.oaam.model.oaam.restrictions.presentation.RestrictionsEditor"
            contributorClass="de.oaam.model.oaam.restrictions.presentation.RestrictionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated oaam -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.oaam.model.oaam.allocations.presentation.AllocationsModelWizardID"
            name="%_UI_AllocationsModelWizard_label"
            class="de.oaam.model.oaam.allocations.presentation.AllocationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AllocationsModelFile.gif">
         <description>%_UI_AllocationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.allocations.presentation.AllocationsEditorID"
            name="%_UI_AllocationsEditor_label"
            icon="icons/full/obj16/AllocationsModelFile.gif"
            extensions="allocations"
            class="de.oaam.model.oaam.allocations.presentation.AllocationsEditor"
            contributorClass="de.oaam.model.oaam.allocations.presentation.AllocationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated oaam -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.oaam.model.oaam.safety.presentation.SafetyModelWizardID"
            name="%_UI_SafetyModelWizard_label"
            class="de.oaam.model.oaam.safety.presentation.SafetyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SafetyModelFile.gif">
         <description>%_UI_SafetyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.safety.presentation.SafetyEditorID"
            name="%_UI_SafetyEditor_label"
            icon="icons/full/obj16/SafetyModelFile.gif"
            extensions="safety"
            class="de.oaam.model.oaam.safety.presentation.SafetyEditor"
            contributorClass="de.oaam.model.oaam.safety.presentation.SafetyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated oaam -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.oaam.model.oaam.safety.taskInternalRequirements.presentation.TaskInternalRequirementsModelWizardID"
            name="%_UI_TaskInternalRequirementsModelWizard_label"
            class="de.oaam.model.oaam.safety.taskInternalRequirements.presentation.TaskInternalRequirementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TaskInternalRequirementsModelFile.gif">
         <description>%_UI_TaskInternalRequirementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.safety.taskInternalRequirements.presentation.TaskInternalRequirementsEditorID"
            name="%_UI_TaskInternalRequirementsEditor_label"
            icon="icons/full/obj16/TaskInternalRequirementsModelFile.gif"
            extensions="taskinternalrequirements"
            class="de.oaam.model.oaam.safety.taskInternalRequirements.presentation.TaskInternalRequirementsEditor"
            contributorClass="de.oaam.model.oaam.safety.taskInternalRequirements.presentation.TaskInternalRequirementsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated oaam -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.oaam.model.oaam.safety.failurePropagations.presentation.FailurePropagationsModelWizardID"
            name="%_UI_FailurePropagationsModelWizard_label"
            class="de.oaam.model.oaam.safety.failurePropagations.presentation.FailurePropagationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FailurePropagationsModelFile.gif">
         <description>%_UI_FailurePropagationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.safety.failurePropagations.presentation.FailurePropagationsEditorID"
            name="%_UI_FailurePropagationsEditor_label"
            icon="icons/full/obj16/FailurePropagationsModelFile.gif"
            extensions="failurepropagations"
            class="de.oaam.model.oaam.safety.failurePropagations.presentation.FailurePropagationsEditor"
            contributorClass="de.oaam.model.oaam.safety.failurePropagations.presentation.FailurePropagationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated oaam -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.oaam.model.oaam.safety.failurePropagations.failurePropagationMatrices.presentation.FailurePropagationMatricesModelWizardID"
            name="%_UI_FailurePropagationMatricesModelWizard_label"
            class="de.oaam.model.oaam.safety.failurePropagations.failurePropagationMatrices.presentation.FailurePropagationMatricesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FailurePropagationMatricesModelFile.gif">
         <description>%_UI_FailurePropagationMatricesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.safety.failurePropagations.failurePropagationMatrices.presentation.FailurePropagationMatricesEditorID"
            name="%_UI_FailurePropagationMatricesEditor_label"
            icon="icons/full/obj16/FailurePropagationMatricesModelFile.gif"
            extensions="failurepropagationmatrices"
            class="de.oaam.model.oaam.safety.failurePropagations.failurePropagationMatrices.presentation.FailurePropagationMatricesEditor"
            contributorClass="de.oaam.model.oaam.safety.failurePropagations.failurePropagationMatrices.presentation.FailurePropagationMatricesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated oaam -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.oaam.model.oaam.physical.presentation.PhysicalModelWizardID"
            name="%_UI_PhysicalModelWizard_label"
            class="de.oaam.model.oaam.physical.presentation.PhysicalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PhysicalModelFile.gif">
         <description>%_UI_PhysicalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oaam -->
      <editor
            id="de.oaam.model.oaam.physical.presentation.PhysicalEditorID"
            name="%_UI_PhysicalEditor_label"
            icon="icons/full/obj16/PhysicalModelFile.gif"
            extensions="physical"
            class="de.oaam.model.oaam.physical.presentation.PhysicalEditor"
            contributorClass="de.oaam.model.oaam.physical.presentation.PhysicalActionBarContributor">
      </editor>
   </extension>

</plugin>
