<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>










   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140"
            class="de.oaam.model.oaam.OaamPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/common"
            class="de.oaam.model.oaam.common.CommonPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/library"
            class="de.oaam.model.oaam.library.LibraryPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/scenario"
            class="de.oaam.model.oaam.scenario.ScenarioPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/systems"
            class="de.oaam.model.oaam.systems.SystemsPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/functions"
            class="de.oaam.model.oaam.functions.FunctionsPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/hardware"
            class="de.oaam.model.oaam.hardware.HardwarePackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/anatomy"
            class="de.oaam.model.oaam.anatomy.AnatomyPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/capabilities"
            class="de.oaam.model.oaam.capabilities.CapabilitiesPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/restrictions"
            class="de.oaam.model.oaam.restrictions.RestrictionsPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oaam -->
      <package
            uri="http://www.oaam.de/oaam/model/v140/allocations"
            class="de.oaam.model.oaam.allocations.AllocationsPackage"
            genModel="model/oaam.genmodel"/>
   </extension>

</plugin>
